#container {
  margin: 10%;
  margin-top: 5%;
}

#header {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-bottom: 5%;
}

.navbar {
  padding-left: 10%;
  padding-right: 10%;

}

#headerLink:hover {
  color: gray;
  text-decoration: none;
}

#headerLink {
  text-decoration: none;
  color: black;
}

#title {
  margin-top: 5%;
}

.card {
  box-shadow: 3px 3px 8px #888888;
  background-color: #2b2b2b;
}
.card-body {
  text-align: center;
  margin: auto;
  height: 20px;
  margin-bottom: 1.25rem;
}

.nav-link:hover {
  color: gray;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav:hover {
  color: gray;
  text-decoration: none;
}

.nav {
  text-decoration: none;
  color: black;
}

.card-link {
  color: #d8d8d8;
}

.card-link:hover {
  color: #ff0000;
}

img {
  height: 300px !important;
  object-fit: cover;
}


